@media screen and (max-width: 575px) {
  .main-heading {
    font-size: 2rem;
  }
  .intro__down {
    left: calc(50% - 15px);
    bottom: 13px;
    font-size: .5rem;
  }
}

@media screen and (max-width: 333px) {
  .intro__btn {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 766px) {
  .about__img {
    height: 275px;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 525px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
